#container {
    display: grid;
    grid-template-columns: auto;
    background-color: goldenrod;
    gap: .3rem;    
    padding: .3rem;
    grid-template-rows: repeat(16, 5rem);
}

#container > div {
    background-color: white;
    padding: .5rem;
    font-weight: bold;
    font-size: 3rem;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

.impar {
    display: none;
}

.par {
    display: flex;
}

@media screen and (min-width: 576px) {
    #container {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(2, 5rem);
    }

    .impar {
        display: none;
    }
    
    .par {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    #container {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(4, 5rem);
    }

    .impar {
        display: flex;
    }
    
    .par {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    #container {
        grid-template-columns: repeat(8, auto);
        grid-template-rows: repeat(6, 5rem);
    }

    .impar {
        display: flex;
        grid-column: span 3;
    }
    
    .par {
        display: flex;
        grid-column: span 1;
    }
}

@media screen and (min-width: 1280px) {
    #container {
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-template-rows: repeat(8, 5rem);
    }

    .impar {
        display: flex;
        grid-column: span 1;
    }
    
    .par {
        display: flex;
        grid-column: span 4;
    }
}