h1{
    font-size: 100px;

}
body{
    font-family: 'Diplomata';
}
#div1{
    background-color: blue;
    min-width: 75px;
}
#div2{
    min-width: 3rem;
}
#Lorem{
    background-color: aqua;
    color: red;
    font-weight: bolder;
}